# Виртуальные окружения Python
.venv/
venv/
.venv-tts/

# Кэш Python
__pycache__/
*.pyc

# Ключи, сертификаты и секреты
*.pem
*.key

# Все папки с результатами работы
input/
output/
export/
was_in_root/
/utils/mock_input/
# Сгенерированные файлы в корне проекта
*.wav
*.zip
*.srt
*.env
*.log
output.txt
.server_token
# Исключение: НЕ игнорируем нужные .wav файлы (исходники)
#!input/voices/*.wav

# 7. Стандартные файлы ОС и редакторов
.DS_Store
Thumbs.db
.idea/
.vscode/