# 1. Игнорируем виртуальные окружения Python
.venv/
venv/
.venv-tts/

# 2. Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем ключи, сертификаты и секреты
*.pem
*.key

# 4. Игнорируем все папки с результатами работы
input/
output/
output_monolog/
to_telegram/
was_in_root/

# 5. Игнорируем сгенерированные файлы в корне проекта
*.wav
*.zip
*.srt
*.env
# 6. Исключение: НЕ игнорируем нужные .wav файлы (исходники)
#!input/voices/*.wav

# 7. Стандартные файлы ОС и редакторов
.DS_Store
Thumbs.db
.idea/
.vscode/